################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/catan/v15/Browse.VC.db
*.ipch
*.db
*.opendb
